In [256]:
import pandas as pd
import numpy as np

In [257]:
scorecard_df = pd.read_csv('giffords_gun_law_scorecard.csv')
scorecard_df.head()

  state_abbrev giffords_grade  grade
0           NY              A      5
1           NJ              A      5
2           MD              A      5
3           MA              A      5
4           IL              A      5

In [258]:
firearm_related_deaths_df = pd.read_csv('tidy-489q-934x-firearm-related-injury.csv')
firearm_related_deaths_df.tail()

    year_and_quarter          state state_abbrev  mortality_per_100k
556          2022 Q3       Virginia           VA                15.3
557          2022 Q3     Washington           WA                13.0
558          2022 Q3  West Virginia           WV                17.9
559          2022 Q3      Wisconsin           WI                14.5
560          2022 Q3        Wyoming           WY                23.6

In [259]:
deaths_q3_2022 = firearm_related_deaths_df[firearm_related_deaths_df['year_and_quarter'] == '2022 Q3']
deaths_q3_2022.head()

    year_and_quarter       state state_abbrev  mortality_per_100k
510          2022 Q3     Alabama           AL                25.6
511          2022 Q3      Alaska           AK                23.3
512          2022 Q3     Arizona           AZ                20.9
513          2022 Q3    Arkansas           AR                22.4
514          2022 Q3  California           CA                 9.1

In [260]:
df = deaths_q3_2022.merge(scorecard_df, on='state_abbrev')
df = df.sort_values(by=['grade'], ascending=False)
df = df.reset_index(drop=True)
df.head()

,year_and_quarter,state,state_abbrev,mortality_per_100k,giffords_grade,grade
0,2022 Q3,Illinois,IL,14.7,A,5
1,2022 Q3,New York,NY,5.5,A,5
2,2022 Q3,California,CA,9.1,A,5
3,2022 Q3,Massachusetts,MA,3.9,A,5
4,2022 Q3,Connecticut,CT,6.8,A,5

In [261]:
import plotly.express as px

In [262]:
fig = px.scatter(df, x="giffords_grade", y="mortality_per_100k", color="grade")
fig.show()

In [263]:
fig = px.bar(df, x='state_abbrev', y='mortality_per_100k',
             hover_data=['mortality_per_100k', 'grade', 'state'], color='grade', text='mortality_per_100k',
             labels={'pop':'population of Canada'}, height=400)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.show()

In [264]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib import style

In [265]:
import plotly.io as pio
pio.renderers.default='firefox'

In [266]:
import json

In [267]:
us_states = json.load(open('states.geojson', 'r'))
# us_states

In [269]:
for feat in us_states['features']:
    feat['id'] = feat['properties']['NAME']

In [272]:
fig = px.choropleth(df, locations='state', scope='usa', geojson=us_states, 
                    color='mortality_per_100k', hover_name='state', hover_data=['giffords_grade'],
                    color_continuous_scale=px.colors.diverging.Fall,
                    color_continuous_midpoint=15,
                    labels={'rate': 'Mortality per 100,000 Persons'},
                    title='Firearm mortality for each State per 100,000 persons<br>(Hover for details)')
fig.show()