In [36]:
import pandas as pd

[Global temperature anomalies](https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/global/time-series) with respect to 1901-2000 average.

In [37]:
temp_df = pd.read_csv('temp_land_ocean_data.csv',parse_dates=['Year'])
temp_df.head()

        Year  Anomaly
0 1991-01-01     0.43
1 1992-01-01     0.32
2 1993-01-01     0.24
3 1994-01-01     0.25
4 1995-01-01     0.47

In [38]:
temp_df['Year'] = temp_df['Year'].dt.year
temp_df.head()

   Year  Anomaly
0  1991     0.43
1  1992     0.32
2  1993     0.24
3  1994     0.25
4  1995     0.47

In [39]:
temp_df.to_csv('temp_land_ocean_data_cleaned.csv', index=False)

Tropical Storm data source for [USA landfalls](https://www.aoml.noaa.gov/hrd/hurdat/uststorms.html).