In [2]:
import pandas as pd

[Global temperature anomalies](https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/global/time-series) with respect to 1901-2000 average.

In [3]:
temp_df = pd.read_csv('temp_land_ocean_data.csv',parse_dates=['Year'])
temp_df.head()

        Year  Anomaly
0 1851-01-01    -0.11
1 1852-01-01    -0.08
2 1853-01-01    -0.07
3 1854-01-01    -0.13
4 1855-01-01    -0.09

In [4]:
temp_df['Year'] = temp_df['Year'].dt.year
temp_df.head()

   Year  Anomaly
0  1851    -0.11
1  1852    -0.08
2  1853    -0.07
3  1854    -0.13
4  1855    -0.09

In [5]:
temp_df.to_csv('temp_land_ocean_data_cleaned.csv', index=False)

Tropical Storm data source for [USA landfalls](https://www.aoml.noaa.gov/hrd/hurdat/uststorms.html).