In [135]:
import pandas as pd
import requests
import json
import numpy as np
from scipy import signal
from datetime import datetime
from tqdm import tqdm

In [136]:
period_keys = ['January', 'Jan', 'February', 'Feb', 'March', 'Mar', 'April', 'Apr', 'May', 'May', 'June', 'Jun', 'July', 'Jul', 'August', 'Aug' 'September', 'Sep', 'October', 'Oct' 'November', 'Nov' 'December', 'Dec']
period_val = zip(period_keys, [i for i in range(1, 13)])
list(period_val)

[('January', 1),
 ('Jan', 2),
 ('February', 3),
 ('Feb', 4),
 ('March', 5),
 ('Mar', 6),
 ('April', 7),
 ('Apr', 8),
 ('May', 9),
 ('May', 10),
 ('June', 11),
 ('Jun', 12)]

In [137]:
import calendar

month_names = list(calendar.month_name)
month_names.remove('')

abbr_month_names = [name[:3] for name in month_names]
month_names.extend(abbr_month_names)

month_vals = [i for i in range(1, 13)] * 2
month_vals

z = zip(month_names, month_vals)
period_map = dict(z)
print(period_map)

{'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12, 'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [138]:
from typing import Dict
from typing import List
from typing import Any

def bls_gov_to_dataframe(raw_json: List[str], value_col_name: str) -> Any:
    df = pd.DataFrame(columns = ["DATE",value_col_name])
    for json_data in raw_json:
        for series in json_data['Results']['series']:
            seriesId = series['seriesID']
            for item in series['data']:
                year = item['year']
                value = item['value']

                periodName = item['periodName']
                period = period_map[periodName]

                df.loc[len(df.index)] = [str(year) + '-' + str(period) + '-01', float(value)]
                
    df['DATE'] = pd.to_datetime(df['DATE'], format='%Y-%m-%d')
    df.sort_values(by=['DATE'], inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

def bls_gov_request(url: str, headers : Dict[str, str], 
                    series : List[str], 
                    startYear: int, 
                    endYear: int) -> Any:
    resp_json = []
    # Split requests in 10 year chunks (limit enforced by endpoint)
    years = [(s - 1, s + 9) if s + 9 < endYear else (s - 1, endYear + 1) for s in range(startYear, endYear, 10)]
    for y in tqdm(years):
        start_year = y[0]
        end_year = y[1]

        data = json.dumps({"seriesid": series, "startyear":str(start_year), "endyear":str(end_year)})

        print(f'Start Year: {start_year}, End Year: {end_year}, Url: {url}')
        resp = requests.post(url, data=data, headers=headers)
        print(f'Status: {resp.status_code}')

        txt = resp.json()
        resp_json.append(txt)
        
    return resp_json

In [139]:
# Data from US Bureau of Labor and Statistics
headers = {'Content-type': 'application/json'}
url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'

In [140]:
# Labor Force Statistics from the Current Population Survey

# Series Id: LNS14000000
# Seasonally Adjusted
# Series title: (Seas) Unemployment Rate
# Labor force status: Unemployment rate
# Type of data: Percent or rate
# Age: 16 years and over
    
unrate_resp = bls_gov_request(url=url, headers=headers, series=['LNS14000000'], startYear=2000, endYear=2024)
unrate = bls_gov_to_dataframe(unrate_resp, 'UNEMPLOYMENT')
print(f'Loaded Unemployment data: {len(unrate)} rows')
unrate.head()

  0%|                                                     | 0/3 [00:00<?, ?it/s]

Start Year: 1999, End Year: 2009, Url: https://api.bls.gov/publicAPI/v2/timeseries/data/

 33%|███████████████                              | 1/3 [00:00<00:00,  3.32it/s]

Status: 200
Start Year: 2009, End Year: 2019, Url: https://api.bls.gov/publicAPI/v2/timeseries/data/

 67%|██████████████████████████████               | 2/3 [00:00<00:00,  3.21it/s]

Status: 200
Start Year: 2019, End Year: 2025, Url: https://api.bls.gov/publicAPI/v2/timeseries/data/

100%|█████████████████████████████████████████████| 3/3 [00:01<00:00,  2.98it/s]

Status: 200

Loaded Unemployment data: 296 rows

        DATE  UNEMPLOYMENT
0 1999-01-01           4.3
1 1999-02-01           4.4
2 1999-03-01           4.2
3 1999-04-01           4.3
4 1999-05-01           4.2

In [141]:
unrate.to_csv('unemployment_2000_2023.csv', index=False)

In [142]:
headers = {'Content-type': 'application/json'}
start_date = '2000-01-01'
end_date = '2023-08-15'
search_type='rate'
url = 'https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json'
data = {"startDate":start_date, "endDate":end_date, 'type':search_type}

months_seen = dict()

print(f'Start Date: {start_date}, End Date: {end_date}, Url: {url}')
res = requests.get(url, params=data, headers=headers)
print(f'Status: {res.status_code}')

effr_resp_json = res.json()
effr = pd.DataFrame(columns = ["DATE","EFFR"])
for r in tqdm(effr_resp_json['refRates']):
    effectiveDate = r['effectiveDate']
    sd = datetime.strptime(effectiveDate, '%Y-%m-%d')
    YYYY_MM = str(sd.year) + '-' + str(sd.month)
    if YYYY_MM not in months_seen.keys():
        months_seen[YYYY_MM] = 1
        percentRate = r['percentRate']
        effectiveDate = YYYY_MM + '-01'
        effr.loc[len(effr.index)] = [effectiveDate, float(percentRate)]

effr['DATE'] = pd.to_datetime(effr['DATE'], format='%Y-%m-%d')
effr.sort_values(by=['DATE'], inplace=True)
effr.reset_index(drop=True, inplace=True)
print(len(effr))
effr.head(n=10)

Start Date: 2000-01-01, End Date: 2023-08-15, Url: https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json
Status: 200

100%|████████████████████████████████████| 5812/5812 [00:00<00:00, 24365.09it/s]

278

        DATE  EFFR
0 2000-07-01  6.64
1 2000-08-01  6.65
2 2000-09-01  6.60
3 2000-10-01  6.59
4 2000-11-01  6.62
5 2000-12-01  5.41
6 2001-01-01  5.74
7 2001-02-01  5.59
8 2001-03-01  5.29
9 2001-04-01  4.67

In [143]:
effr.to_csv('effr_2000_2023.csv', index=False)

In [145]:
# Series Id: CUUR0000SA0
# Not Seasonally Adjusted
# Series Title: All items in U.S. city average, all urban consumers, not seasonally adjusted
# Area: U.S. city average
# Item: All items
# Base Period: 1982-84=100

cpi_percent_resp = bls_gov_request(url=url, headers=headers, series=['CUUR0000SA0'], startYear=1990, endYear=2024)

cpi_percent = bls_gov_to_dataframe(cpi_percent_resp, 'CPI')
print(f'Loaded CPI data: {len(cpi_percent)} rows')
cpi_percent.head()

  0%|                                                     | 0/4 [00:00<?, ?it/s]

Start Year: 1989, End Year: 1999, Url: https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json

 25%|███████████▎                                 | 1/4 [00:00<00:01,  2.21it/s]

Status: 403
Start Year: 1999, End Year: 2009, Url: https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json

 75%|█████████████████████████████████▊           | 3/4 [00:00<00:00,  4.09it/s]

Status: 403
Start Year: 2009, End Year: 2019, Url: https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json
Status: 403
Start Year: 2019, End Year: 2025, Url: https://markets.newyorkfed.org/api/rates/unsecured/effr/search.json

100%|█████████████████████████████████████████████| 4/4 [00:01<00:00,  3.88it/s]

Status: 403

KeyError: 'Results'

In [146]:
# Compute 12-month % change
cpis = cpi_percent['CPI']
p = [round(abs(((cpis[i] - cpis[i - 12]) / cpis[i - 12]) * 100.0), 1) for i in range(12, len(cpis))]

for i in range(12, len(cpis)):
    abs_diff = abs(cpis[i] - cpis[i - 12])
    avg_change = (cpis[i] + cpis[i - 12]) / 2.0
    a = round((abs_diff / avg_change) * 100, 1)
    print(f'{cpis[i]}, {cpis[i - 12]}, {a}')
    
cpi_percent2 = cpi_percent.drop([i for i in range(0, 12)])
cpi_percent2['CPI_PERCENT'] = p
cpi_percent2.reset_index(drop=True, inplace=True)
print(len(cpi_percent2))
cpi_percent2.tail()

127.4, 121.1, 5.1
128.0, 121.6, 5.1
128.7, 122.3, 5.1
128.9, 123.1, 4.6
129.2, 123.8, 4.3
129.9, 124.1, 4.6
130.4, 124.4, 4.7
131.6, 124.6, 5.5
132.7, 125.0, 6.0
133.5, 125.6, 6.1
133.8, 125.9, 6.1
133.8, 126.1, 5.9
134.6, 127.4, 5.5
134.8, 128.0, 5.2
135.0, 128.7, 4.8
135.2, 128.9, 4.8
135.6, 129.2, 4.8
136.0, 129.9, 4.6
136.2, 130.4, 4.4
136.6, 131.6, 3.7
137.2, 132.7, 3.3
137.4, 133.5, 2.9
137.8, 133.8, 2.9
137.9, 133.8, 3.0
138.1, 134.6, 2.6
138.6, 134.8, 2.8
139.3, 135.0, 3.1
139.5, 135.2, 3.1
139.7, 135.6, 3.0
140.2, 136.0, 3.0
140.5, 136.2, 3.1
140.9, 136.6, 3.1
141.3, 137.2, 2.9
141.8, 137.4, 3.2
142.0, 137.8, 3.0
141.9, 137.9, 2.9
142.6, 138.1, 3.2
143.1, 138.6, 3.2
143.6, 139.3, 3.0
144.0, 139.5, 3.2
144.2, 139.7, 3.2
144.4, 140.2, 3.0
144.4, 140.5, 2.7
144.8, 140.9, 2.7
145.1, 141.3, 2.7
145.7, 141.8, 2.7
145.8, 142.0, 2.6
145.8, 141.9, 2.7
146.2, 142.6, 2.5
146.7, 143.1, 2.5
147.2, 143.6, 2.5
147.4, 144.0, 2.3
147.5, 144.2, 2.3
148.0, 144.4, 2.5
148.4, 144.4, 2.7
149.0, 144.8, 2.9
149.4, 145.1, 2.9
149.5, 145.7, 2.6
149.7, 145.8, 2.6
149.7, 145.8, 2.6
150.3, 146.2, 2.8
150.9, 146.7, 2.8
151.4, 147.2, 2.8
151.9, 147.4, 3.0
152.2, 147.5, 3.1
152.5, 148.0, 3.0
152.5, 148.4, 2.7
152.9, 149.0, 2.6
153.2, 149.4, 2.5
153.7, 149.5, 2.8
153.6, 149.7, 2.6
153.5, 149.7, 2.5
154.4, 150.3, 2.7
154.9, 150.9, 2.6
155.7, 151.4, 2.8
156.3, 151.9, 2.9
156.6, 152.2, 2.8
156.7, 152.5, 2.7
157.0, 152.5, 2.9
157.3, 152.9, 2.8
157.8, 153.2, 3.0
158.3, 153.7, 2.9
158.6, 153.6, 3.2
158.6, 153.5, 3.3
159.1, 154.4, 3.0
159.6, 154.9, 3.0
160.0, 155.7, 2.7
160.2, 156.3, 2.5
160.1, 156.6, 2.2
160.3, 156.7, 2.3
160.5, 157.0, 2.2
160.8, 157.3, 2.2
161.2, 157.8, 2.1
161.6, 158.3, 2.1
161.5, 158.6, 1.8
161.3, 158.6, 1.7
161.6, 159.1, 1.6
161.9, 159.6, 1.4
162.2, 160.0, 1.4
162.5, 160.2, 1.4
162.8, 160.1, 1.7
163.0, 160.3, 1.7
163.2, 160.5, 1.7
163.4, 160.8, 1.6
163.6, 161.2, 1.5
164.0, 161.6, 1.5
164.0, 161.5, 1.5
163.9, 161.3, 1.6
164.3, 161.6, 1.7
164.5, 161.9, 1.6
165.0, 162.2, 1.7
166.2, 162.5, 2.3
166.2, 162.8, 2.1
166.2, 163.0, 1.9
166.7, 163.2, 2.1
167.1, 163.4, 2.2
167.9, 163.6, 2.6
168.2, 164.0, 2.5
168.3, 164.0, 2.6
168.3, 163.9, 2.6
168.8, 164.3, 2.7
169.8, 164.5, 3.2
171.2, 165.0, 3.7
171.3, 166.2, 3.0
171.5, 166.2, 3.1
172.4, 166.2, 3.7
172.8, 166.7, 3.6
172.8, 167.1, 3.4
173.7, 167.9, 3.4
174.0, 168.2, 3.4
174.1, 168.3, 3.4
174.0, 168.3, 3.3
175.1, 168.8, 3.7
175.8, 169.8, 3.5
176.2, 171.2, 2.9
176.9, 171.3, 3.2
177.7, 171.5, 3.6
178.0, 172.4, 3.2
177.5, 172.8, 2.7
177.5, 172.8, 2.7
178.3, 173.7, 2.6
177.7, 174.0, 2.1
177.4, 174.1, 1.9
176.7, 174.0, 1.5
177.1, 175.1, 1.1
177.8, 175.8, 1.1
178.8, 176.2, 1.5
179.8, 176.9, 1.6
179.8, 177.7, 1.2
179.9, 178.0, 1.1
180.1, 177.5, 1.5
180.7, 177.5, 1.8
181.0, 178.3, 1.5
181.3, 177.7, 2.0
181.3, 177.4, 2.2
180.9, 176.7, 2.3
181.7, 177.1, 2.6
183.1, 177.8, 2.9
184.2, 178.8, 3.0
183.8, 179.8, 2.2
183.5, 179.8, 2.0
183.7, 179.9, 2.1
183.9, 180.1, 2.1
184.6, 180.7, 2.1
185.2, 181.0, 2.3
185.0, 181.3, 2.0
184.5, 181.3, 1.7
184.3, 180.9, 1.9
185.2, 181.7, 1.9
186.2, 183.1, 1.7
187.4, 184.2, 1.7
188.0, 183.8, 2.3
189.1, 183.5, 3.0
189.7, 183.7, 3.2
189.4, 183.9, 2.9
189.5, 184.6, 2.6
189.9, 185.2, 2.5
190.9, 185.0, 3.1
191.0, 184.5, 3.5
190.3, 184.3, 3.2
190.7, 185.2, 2.9
191.8, 186.2, 3.0
193.3, 187.4, 3.1
194.6, 188.0, 3.5
194.4, 189.1, 2.8
194.5, 189.7, 2.5
195.4, 189.4, 3.1
196.4, 189.5, 3.6
198.8, 189.9, 4.6
199.2, 190.9, 4.3
197.6, 191.0, 3.4
196.8, 190.3, 3.4
198.3, 190.7, 3.9
198.7, 191.8, 3.5
199.8, 193.3, 3.3
201.5, 194.6, 3.5
202.5, 194.4, 4.1
202.9, 194.5, 4.2
203.5, 195.4, 4.1
203.9, 196.4, 3.7
202.9, 198.8, 2.0
201.8, 199.2, 1.3
201.5, 197.6, 2.0
201.8, 196.8, 2.5
202.416, 198.3, 2.1
203.499, 198.7, 2.4
205.352, 199.8, 2.7
206.686, 201.5, 2.5
207.949, 202.5, 2.7
208.352, 202.9, 2.7
208.299, 203.5, 2.3
207.917, 203.9, 2.0
208.49, 202.9, 2.7
208.936, 201.8, 3.5
210.177, 201.5, 4.2
210.036, 201.8, 4.0
211.08, 202.416, 4.2
211.693, 203.499, 3.9
213.528, 205.352, 3.9
214.823, 206.686, 3.9
216.632, 207.949, 4.1
218.815, 208.352, 4.9
219.964, 208.299, 5.4
219.086, 207.917, 5.2
218.783, 208.49, 4.8
216.573, 208.936, 3.6
212.425, 210.177, 1.1
210.228, 210.036, 0.1
211.143, 211.08, 0.0
212.193, 211.693, 0.2
212.709, 213.528, 0.4
213.24, 214.823, 0.7
213.856, 216.632, 1.3
215.693, 218.815, 1.4
215.351, 219.964, 2.1
215.834, 219.086, 1.5
215.969, 218.783, 1.3
216.177, 216.573, 0.2
216.33, 212.425, 1.8
215.949, 210.228, 2.7
216.687, 211.143, 2.6
216.741, 212.193, 2.1
217.631, 212.709, 2.3
218.009, 213.24, 2.2
218.178, 213.856, 2.0
217.965, 215.693, 1.0
218.011, 215.351, 1.2
218.312, 215.834, 1.1
218.439, 215.969, 1.1
218.711, 216.177, 1.2
218.803, 216.33, 1.1
219.179, 215.949, 1.5
220.223, 216.687, 1.6
221.309, 216.741, 2.1
223.467, 217.631, 2.6
224.906, 218.009, 3.1
225.964, 218.178, 3.5
225.722, 217.965, 3.5
225.922, 218.011, 3.6
226.545, 218.312, 3.7
226.889, 218.439, 3.8
226.421, 218.711, 3.5
226.23, 218.803, 3.3
225.672, 219.179, 2.9
226.665, 220.223, 2.9
227.663, 221.309, 2.8
229.392, 223.467, 2.6
230.085, 224.906, 2.3
229.815, 225.964, 1.7
229.478, 225.722, 1.7
229.104, 225.922, 1.4
230.379, 226.545, 1.7
231.407, 226.889, 2.0
231.317, 226.421, 2.1
230.221, 226.23, 1.7
229.601, 225.672, 1.7
230.28, 226.665, 1.6
232.166, 227.663, 2.0
232.773, 229.392, 1.5
232.531, 230.085, 1.1
232.945, 229.815, 1.4
233.504, 229.478, 1.7
233.596, 229.104, 1.9
233.877, 230.379, 1.5
234.149, 231.407, 1.2
233.546, 231.317, 1.0
233.069, 230.221, 1.2
233.049, 229.601, 1.5
233.916, 230.28, 1.6
234.781, 232.166, 1.1
236.293, 232.773, 1.5
237.072, 232.531, 1.9
237.9, 232.945, 2.1
238.343, 233.504, 2.1
238.25, 233.596, 2.0
237.852, 233.877, 1.7
238.031, 234.149, 1.6
237.433, 233.546, 1.7
236.151, 233.069, 1.3
234.812, 233.049, 0.8
233.707, 233.916, 0.1
234.722, 234.781, 0.0
236.119, 236.293, 0.1
236.599, 237.072, 0.2
237.805, 237.9, 0.0
238.638, 238.343, 0.1
238.654, 238.25, 0.2
238.316, 237.852, 0.2
237.945, 238.031, 0.0
237.838, 237.433, 0.2
237.336, 236.151, 0.5
236.525, 234.812, 0.7
236.916, 233.707, 1.4
237.111, 234.722, 1.0
238.132, 236.119, 0.8
239.261, 236.599, 1.1
240.229, 237.805, 1.0
241.018, 238.638, 1.0
240.628, 238.654, 0.8
240.849, 238.316, 1.1
241.428, 237.945, 1.5
241.729, 237.838, 1.6
241.353, 237.336, 1.7
241.432, 236.525, 2.1
242.839, 236.916, 2.5
243.603, 237.111, 2.7
243.801, 238.132, 2.4
244.524, 239.261, 2.2
244.733, 240.229, 1.9
244.955, 241.018, 1.6
244.786, 240.628, 1.7
245.519, 240.849, 1.9
246.819, 241.428, 2.2
246.663, 241.729, 2.0
246.669, 241.353, 2.2
246.524, 241.432, 2.1
247.867, 242.839, 2.0
248.991, 243.603, 2.2
249.554, 243.801, 2.3
250.546, 244.524, 2.4
251.588, 244.733, 2.8
251.989, 244.955, 2.8
252.006, 244.786, 2.9
252.146, 245.519, 2.7
252.439, 246.819, 2.3
252.885, 246.663, 2.5
252.038, 246.669, 2.2
251.233, 246.524, 1.9
251.712, 247.867, 1.5
252.776, 248.991, 1.5
254.202, 249.554, 1.8
255.548, 250.546, 2.0
256.092, 251.588, 1.8
256.143, 251.989, 1.6
256.571, 252.006, 1.8
256.558, 252.146, 1.7
256.759, 252.439, 1.7
257.346, 252.885, 1.7
257.208, 252.038, 2.0
256.974, 251.233, 2.3
257.971, 251.712, 2.5
258.678, 252.776, 2.3
258.115, 254.202, 1.5
256.389, 255.548, 0.3
256.394, 256.092, 0.1
257.797, 256.143, 0.6
259.101, 256.571, 1.0
259.918, 256.558, 1.3
260.28, 256.759, 1.4
260.388, 257.346, 1.2
260.229, 257.208, 1.2
260.474, 256.974, 1.4
261.582, 257.971, 1.4
263.014, 258.678, 1.7
264.877, 258.115, 2.6
267.054, 256.389, 4.1
269.195, 256.394, 4.9
271.696, 257.797, 5.2
273.003, 259.101, 5.2
273.567, 259.918, 5.1
274.31, 260.28, 5.2
276.589, 260.388, 6.0
277.948, 260.229, 6.6
278.802, 260.474, 6.8
281.148, 261.582, 7.2
283.716, 263.014, 7.6
287.504, 264.877, 8.2
289.109, 267.054, 7.9
292.296, 269.195, 8.2
296.311, 271.696, 8.7
296.276, 273.003, 8.2
296.171, 273.567, 7.9
296.808, 274.31, 7.9
298.012, 276.589, 7.5
297.711, 277.948, 6.9
296.797, 278.802, 6.3
299.17, 281.148, 6.2
300.84, 283.716, 5.9
301.836, 287.504, 4.9
303.363, 289.109, 4.8
304.127, 292.296, 4.0
305.109, 296.311, 2.9
305.691, 296.276, 3.1
307.026, 296.171, 3.6
404

          DATE      CPI  CPI_PERCENT
399 2023-04-01  303.363          4.9
400 2023-05-01  304.127          4.0
401 2023-06-01  305.109          3.0
402 2023-07-01  305.691          3.2
403 2023-08-01  307.026          3.7

In [147]:
cpi_percent2.to_csv('cpi_2000_2023.csv', index=False)